#nameContract {
    h2 {
        max-width: 410px;
    }
}

.controls {
    padding: 2em;
    min-height: 400px;
}

#form {
    width: 100%;
    //max-width: 350px;
}

.form-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.tab-pane {
    text-align: center;
}

.form-check {
    display: inline-block;
}

.form-check:nth-child(2n) {
    margin-right: 20px;
}

.list-group a,
.list-group a::after {
    transition: 0.2s all ease-in;
}

.list-group a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 19, 91);
    width: 0px;
    height: 100%;
    z-index: -1;
}

.list-group a:hover {
    transform: translateX(10px);
}

.list-group a:hover::after {
    width: 10px;
    transform: translateX(-10px);
}

.list-group-item {
    padding: 1rem;
}
