/* ocultar controles de input date */
input[type="date"]::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  display: none;
}

.ui-datepicker {
    width: 200px; /*what ever width you want*/
    .ui-datepicker-title{ margin: 0px}
    .ui-datepicker-prev,
    .ui-datepicker-next{
        display: none;
    }
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 0px solid #c5c5c5;
  background: initial;
  font-weight: normal;
  color: #454545;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #ffffff;
}

/* .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 0px;
  background: inherit;
  font-weight: normal;
  color: #454545;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 3px solid $bluePrimary;
  background: $deep-blue;
  color: white;
} */
