.invalidForm{
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

#form-content{
    line-height: 1.3;
    .sidebar{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        .progress{
          position: relative;
          .progressTitle{
            position: absolute;
            color: white;
            text-shadow: 1px 1px 2px $bluePrimary;
            width: 100%;
            text-align: center;
            font-weight: bold;
          }
        }
    }
    .tab-content{
        .tab-pane{
            &.active.show{
                .row{
                    position: relative;
                }
            }
            .labelRepre{
                display: none;
            }
        }
        .row > div{
            text-align: start;
            margin-bottom: 1.2em;
        }
    }
}
.blur{
    filter: blur(3px);
}



