#site-header {
  background: $header-background-color;
  color: #fff;
  padding: 0;
  // height: $header-height;
  position: relative;
  z-index: 100;

  [data-toggle="dropdown"] {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $blueSecondary;
    }
  }

  .loggin{
    cursor: pointer;
    .dropdown-menu {
      width: 280px;
    }
  }

  .menu-icon {
    font-size: 25px;
    line-height: 1.2;
  }

  button.navbar-toggler {
    border: 0;
    background: none !important;
    padding: 0;
    box-shadow: none;
    color: $white;
    font-size: 28px;

    &.open {
      .icon-menu {
        &:before {
          content: icon(close);
        }
      }
    }

    @include media-breakpoint-up(breakpoint-next($header-mobile-breakpoint)) {
      display: none;
    }
  }

  #header-sitebranding {
    a {
      display: inline-block;

      img {
        max-height: calc(#{$header-height} - 1.5rem);
      }
    }
  }

  #header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $body-bg;
    color: $bluePrimary;
    position: relative;
    min-height: 46px;
    @include media-breakpoint-up(sm) {
      justify-content: center;
    }
    #block-menuprincipal {
      background: $body-bg;
      position: fixed;
      display: none;
      top: 0;
      left: -200px;
      height: 100vh;
      z-index: 10;
      width: 200px;
      &.show {
        display: block;
        left: 0px;
      }
      .nav {
        flex-direction: column;
        margin-top: 40px;
        .nav-item {
          border-bottom: 1px solid $medium-gray-100;
          position: relative;
          &:first-child {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 999;
            // background: $bluePrimary;
            border-left: 1px solid $medium-gray-100;
          }
          a {
            color: $bluePrimary;
            padding: 0.7rem 1rem;
            font-size: 16px;
            &.is-active {
              &::before {
                content: "";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: $bluePrimary;
                margin-left: -16px;
              }
            }
          }
          &:hover {
            background-color: $medium-gray-100;
          }
          @include media-breakpoint-up(sm) {
            // border-right: 1px solid $bluePrimary;
            border-bottom: 0px !important;
            // &:last-child{
            //     border-right: 0px;
            // }
            // a{
            //     color: $bluePrimary
            // }
            &::before {
              content: "";
              position: absolute;
              right: 0;
              top: 0;
              width: 1px;
              height: 50%;
              background: $medium-gray-100;
              transform: translateY(50%);
            }
          }
        }
        @include media-breakpoint-up(sm) {
          margin-top: 0px;
        }
      }
      @include media-breakpoint-up(sm) {
        display: block;
        position: relative;
        height: initial;
        width: auto;
        left: initial;
        .nav {
          flex-direction: initial;
          .nav-item {
            &:first-child {
              display: none;
            }
          }
        }
      }
    }
    #block-menuhamburguesa {
      svg {
        font-size: 1.5em;
      }
    }
  }

  #search-trigger {
    color: $medium-gray-200;
    text-decoration: none;
    box-shadow: none;
    background: none;
    border: 0 solid transparent;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border-radius: 0;
    line-height: 1.5;
    font-size: 1rem;
    padding: 0.375rem 0.75rem;

    svg {
      color: $bluePrimary;
    }

    &:hover {
      color: $medium-gray;
    }

    i {
      font-size: 26px;
    }

    &.open {
      display: none;
    }
  }

  #search-form {
    // min-height: $header-search-height;
    z-index: 10;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    // border: 1px solid red;
    width: 100%;
    min-height: 46px;
    background: white;
    justify-content: center;

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      //width: 100%;

      .form-group {
        margin-bottom: 0;
      }

      input[type="search"] {
        border: 0;
        max-width: 100%;
        text-align: center;
        background-color: transparent;
        color: $header-search-color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        transition: 0s;

        &:focus {
          box-shadow: initial;
        }
      }

      .form-actions {
        display: none;
      }
    }

    #closeSearch{
      cursor: pointer;
      display: flex;
      align-self: center;
    }
  }
}

.spinner{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}