/** General colors */
$very-light-gray: #f2f2f0;
$light-gray: #f8f7f5;
$medium-gray: #ececeb;
$medium-gray-100: #DADADA;
$medium-gray-200: #c7c7c7;
$medium-gray-600: #9d9d9c;
$medium-gray-800: #767674;
$medium-gray-900: #71716a;
$dark-gray: #58585a;
$darken-gray: #3c3c3b;
$light-blue: #88c1e6;
$dark-blue: #009ee0;
$deep-blue: #0a71b4;
$deeper-blue: #1f3b71;
$leaf-green: #5aa449;
$blood-red: #ea645b;
$blood-red-600: #E22F22;
$blue: #2f9fca;
$light-blue: #95d5f4;
$green: #c2e76b;
$red: #ef7971;
$orange-800: #CF4320;
$white: #fff;
$bluePrimary: #00135B;
$blueSecondary: #2E3B5E;
$blueHover: #20337d;

/** Header */
$header-background-color: $bluePrimary;
$header-height: 150px;
$header-font-color: #9d9d9c;
$header-font-color-hover: #dadada;
$header-picto-size: 25px;
$header-user-picto-size: 38px;
$header-search-height: 60px;
$header-search-width: 500px;
$header-search-color: #b3b3b2;
$header-mobile-breakpoint: sm;
$header-margin-bottom: 1.75rem;

/** Navigation */
$menu-margin-bottom: 3rem;

/** Footer */
$footer-background-color: #E1E6EA;
$footer-border-color: $blueSecondary;
$footer-height: 100px;
$footer-font-color: $medium-gray-800;
$footer-margin-top: 3rem;

/** Content */
$content-mobile-breakpoint: sm;

/** Frontpage */
$frontpage-block-gap: 20px;
$frontpage-block-x-offset: -20%;
$frontpage-block-y-offset: 80px;
$dashboard-panel-width: 400px;

/** Table */
$table-spacing: 0;