<!------------------ Inicio arrendador ------------------>
<div class="row">
    <div class="col-12 col-md-3 sidebar">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-propietario-list" data-bs-toggle="list" href="#propietario" role="tab" aria-controls="propietario">Coworking</a>
            <a class="list-group-item list-group-item-action disabled" id="list-arrendador-list" data-bs-toggle="list" href="#arrendador" role="tab" aria-controls="arrendador">Arrendador</a>
            <a class="list-group-item list-group-item-action disabled" id="list-messages-list" data-bs-toggle="list" href="#coarrendador" role="tab" aria-controls="messages">Coarrendador</a>
            <a class="list-group-item list-group-item-action disabled" id="list-settings-list" data-bs-toggle="list" href="#ultimos" role="tab" aria-controls="settings" disable>Últimos detalles</a>
        </div>
        <div class="progressBar p-3">
            <p>Progreso:</p>
            <div class="progress mb-4" id="progressItem">
                <p class="progressTitle">0%</p>
                <div id="progressBar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width: 0%;"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-9">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="arrendador" role="tabpanel">
                <p class="alert alert-primary"><strong>Coworking:</strong> Quien <i>entrega</i> el inmueble en arrendamiento.</p>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card p-4">
                            <p class="fst-italic">Consultamos tu nombre de la <strong>Registraduría Nacional del Estado Civil</strong>. Esto con el fin de evitar errores ortográficos. Si es NIT, omita el número de verificación.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Tipo de documento</label>
                                    <select name="arrendadorTipoDocumento" class="form-select tipoDocumento" onchange="repreLegal(this)">
                                        <option value="cc" selected="">Cédula de Ciudadanía</option>
                                        <option value="ce">Cédula de extranjería</option>
                                        <option value="pep">Permiso especial de permanencia</option>
                                        <option value="nit">NIT</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="arrendadorNumeroDocumento">Número de documento</label>
                                    <input type="number" min="1" name="arrendadorNumeroDocumento" class="form-control nTipoDocumento">
                                </div>
                                <div class="col-md-12 text-center position-relative">
                                    <button type="button" class="btn btn-primary btnConsult" onclick="consultDocument(null)">Consultar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="arrendadorNombre">Nombre completo</label>
                        <input type="text" name="arrendadorNombre" class="form-control nombre" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Sexo <span class="labelRepre">del representante</span></label>
                        <select name="arrendadorSexo" class="form-select">
                            <option value="f" selected="">Femenino</option>
                            <option value="m">Masculino</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="arrendadorCorreo">Correo electrónico <span class="labelRepre">del representante</span></label>
                        <input type="email" name="arrendadorCorreo" class="form-control">
                        <div class="form-text">Este será utilizado para notificaciones.</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="arrendadorCelular">Teléfono <span class="labelRepre">del representante</span></label>
                        <input type="tel" name="arrendadorCelular" class="form-control" maxlength="10">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="arrendadorDireccion">Dirección <span class="labelRepre">del representante</span></label>
                        <input class="form-control" type="text" name="arrendadorDireccion">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="arrendatario" role="tabpanel">
                <p class="alert alert-primary"><strong>Arrendador:</strong> Quien <i>recibe</i> el inmueble en arrendamiento.</p>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="card p-4">
                            <p class="fst-italic">Consultamos tu nombre de la <strong>Registraduría Nacional del Estado Civil</strong>. Esto con el fin de evitar errores ortográficos. Si es NIT, omita el número de verificación.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label" for="arrendatarioTipoDocumento">Tipo de documento</label>
                                    <select name="arrendatarioTipoDocumento" class="form-select tipoDocumento" onchange="repreLegal(this)">
                                        <option value="cc" selected="">Cédula de Ciudadanía</option>
                                        <option value="ce">Cédula de extranjería</option>
                                        <option value="pep">Permiso especial de permanencia</option>
                                        <option value="nit">NIT</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label" for="arrendatarioNumeroDocumento">Número de documento</label>
                                    <input class="form-control nTipoDocumento" type="number" min="1" name="arrendatarioNumeroDocumento">
                                </div>
                                <div class="col-md-12 text-center position-relative">
                                    <button type="button" class="btn btn-primary btnConsult" onclick="consultDocument(null)">Consultar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="arrendatarioNombre">Nombre completo <span class="labelRepre">del representante</span></label>
                        <input class="form-control nombre" type="text" name="arrendatarioNombre" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="arrendatarioSexo">Sexo <span class="labelRepre">del representante</span></label>
                        <select name="arrendatarioSexo" class="form-select">
                            <option value="f" selected="">Femenino</option>
                            <option value="m">Masculino</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="arrendatarioCorreo">Correo electrónico <span class="labelRepre">del representante</span></label>
                        <input class="form-control" type="email" name="arrendatarioCorreo">
                        <div class="form-text">Este será utilizado para notificaciones.</div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="arrendatarioCelular">Teléfono <span class="labelRepre">del representante</span></label>
                        <input class="form-control" type="tel" name="arrendatarioCelular" maxlength="10">
                    </div>
                    <div class="col-md-12">
                        <label class="form-label" for="arrendatarioDireccion">Dirección <span class="labelRepre">del representante</span></label>
                        <input class="form-control" type="text" name="arrendatarioDireccion">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="coarrendador" role="tabpanel">
                <!------------------ Inicio coarrendatario ------------------>
                <p class="alert alert-primary"><strong>Coarrendador:</strong> Quien <i>asume</i> la responsabilidad si el <i>Arrendador</i> no cumple.</p>
                <div class="mb-4" id="coarrendatario1">
                    <label class="form-label" for="coarrendatario1Select">¿Desea agregar un coarrendatario para este contrato?</label>
                    <select name="coarrendatario1Select" class="form-select" onchange="validSelectOnChage(this)">
                        <option value="n" selected>No</option>
                        <option value="s">Si</option>
                    </select>
                </div>
                <fieldset disabled="disabled">
                    <div class="row coarrendatarioForm1">
                        <div class="col-md-12">
                            <div class="card p-4">
                                <p class="fst-italic">Consultamos tu nombre de la <strong>Registraduría Nacional del Estado Civil</strong>. Esto con el fin de evitar errores ortográficos. Si es NIT, omita el número de verificación.</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="form-label" for="coarrendatario1TipoDocumento">Tipo de documento</label>
                                        <select name="coarrendatario1TipoDocumento" class="form-select tipoDocumento">
                                            <option value="cc" selected="">Cédula de Ciudadanía</option>
                                            <option value="ce">Cédula de extranjería</option>
                                            <option value="nit">NIT</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label" for="coarrendatario1NumeroDocumento">Número de documento</label>
                                        <input class="form-control nTipoDocumento" type="text" name="coarrendatario1NumeroDocumento">
                                    </div>
                                    <div class="col-md-12 text-center position-relative">
                                        <button type="button" class="btn btn-primary btnConsult" onclick="consultDocument()">Consultar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="coarrendatario1Nombre">Nombre completo</label>
                            <input class="form-control nombre" type="text" name="coarrendatario1Nombre" disabled>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="coarrendatario1Correo">Correo electrónico</label>
                            <input class="form-control" type="email" name="coarrendatario1Correo">
                            <div class="form-text">Este será utilizado para notificaciones.</div>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label" for="coarrendatario1Celular">Teléfono</label>
                            <input type="tel" class="form-control" name="coarrendatario1Celular" maxlength="10">
                        </div>
                        <div class="col-md-12">
                            <label class="form-label" for="coarrendatario1Direccion">Dirección</label>
                            <input class="form-control" type="text" name="coarrendatario1Direccion">
                        </div>
                        <!-- <div class="col-md-6" id="coarrendatario2">
                            <label class="form-label" for="coarrendatario2Select">¿Desea incluir otro?</label>
                            <select name="coarrendatario2Select" class="form-select" onchange="validSelectOnChage(2)">
                                <option value="s">Si</option>
                                <option value="n" selected>No</option>
                            </select>
                        </div> -->
                    <!------------------ Fin coarrendatario ------------------>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="ultimos" role="tabpanel">
                <!------------------ Inicio datos restantes ------------------>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" for="contratoFechaInicio">Fecha de inicio del contrato</label>
                        <input class="form-control" type="date" name="contratoFechaInicio" onkeydown="return false">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="contratoDuracion">¿Duración del contrato? (número de meses)</label>
                        <input class="form-control" type="number" min="1" name="contratoDuracion">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="contratoFechaFin">Fecha de terminación del contrato</label>
                        <input class="form-control" type="text" name="contratoFechaFin" disabled>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="contratoFechaAntelacion">Mes o meses de antelación para la cancelación del contrato</label>
                        <input class="form-control" type="number" min="1" name="contratoFechaAntelacion">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="contratoValorMensual">Valor neto a pagar mensualmente</label>
                        <input class="form-control" type="number" min="1" name="contratoValorMensual">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="contratoDiaPago">Día de cada mes que se realizará el pago</label>
                        <input class="form-control" type="number" min="1" name="contratoDiaPago" maxlength="2">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="tipoDePago">El pago será de manera</label>
                        <select name="tipoDePago" class="form-select">
                            <option value="a">Mes anticipado</option>
                            <option value="v">Mes vencido</option>
                        </select>
                    </div>
                    <div class="col-md-6" id="medioDePago">
                        <label class="form-label" for="contratoMedioDePago">Vía de pago</label>
                        <select name="contratoMedioDePago" class="form-select" onchange="validSelectOnChage(this)">
                            <option value="c" selected>Mediante depósito en cuenta bancaria</option>
                            <option value="e">Mediante efectivo</option>
                        </select>
                    </div>
                    <!------------------ Inicio datos cuenta bancaria ------------------>
                    <fieldset class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 cBanco">
                                <label class="form-label" for="cBancoTipo">Tipo de cuenta bancaria</label>
                                <select name="cBancoTipo" class="form-select">
                                    <option value="a" selected="">Ahorros</option>
                                    <option value="c">Corriente</option>
                                </select>
                            </div>
                            <div class="col-md-6 cBanco">
                                <label class="form-label" for="cBancoNumero">Digite el número de cuenta</label>
                                <input class="form-control" type="number" min="1" name="cBancoNumero">
                            </div>
                            <div class="col-md-6 cBanco">
                                <label class="form-label" for="cBancoEntidad">Seleccione el banco al que pertenece la cuenta bancaria</label>
                                <select class="form-control" name="cBancoEntidad">
                                    <?php
                                        for ($i = 0; $i < $lengthJsonBank; $i++) {
                                                $code = $readJsonbank[$i]['bankCode'];
                                                $name = $readJsonbank[$i]['bankName'];
                                                echo '<option value="'.$code.'">'.$name.'</option>';
                                        }
                                    ?>
                                </select>
                            </div>
                            <div class="col-md-6 cBanco">
                                <label class="form-label" for="cBancoTitular">Digite el nombre del titular de la cuenta bancaria</label>
                                <input class="form-control" type="text" name="cBancoTitular">
                            </div>
                        </div>
                    </fieldset>
                    <!------------------ Fin datos cuenta bancaria ------------------>
                    <div class="col-md-6">
                        <label class="form-label" for="nCanonesIncumplimiento">Digite el número de canones a pagar por incumplimiento.</label>
                        <input class="form-control" type="number" min="1" name="nCanonesIncumplimiento">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="tipoInmueble">Seleccione el tipo de immueble</label>
                        <select name="tipoInmueble" class="form-select">
                            <option value="cs">Casa</option>
                            <option value="apto">Apartamento</option>
                            <option value="grj">Garaje</option>
                            <option value="hab">Habitación</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="metrosCuadrados">Digite los metros cuadrado del inmueble (sin puntos ni comas)</label>
                        <input class="form-control" type="number" min="1" name="metrosCuadrados">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="direccionInmueble">Digite la dirección del inmueble</label>
                        <input class="form-control" type="text" name="direccionInmueble">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="ciudadInmueble">Digite la ciudad en donde está el inmueble</label>
                        <input class="form-control" type="text" name="ciudadInmueble">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="mascostasSelect">¿Se permitirán mascotas en el inmueble?</label>
                        <select name="mascostasSelect" class="form-select">
                            <option value="s" selected>Si</option>
                            <option value="n">No</option>
                        </select>
                        <!-- <div class="form-text">Nota: En caso de ser si la respuesta, se agregará el compromiso de hacerse cargo de
                            los daños que realice la Mascotas y de mantenerla en condicciones de existencia como un animal
                            sintiente.</div> -->
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="cesionSelect">¿Permite la Cesión del contrato de arrendamiento?</label>
                        <select name="cesionSelect" class="form-select">
                            <option value="s" selected>Si</option>
                            <option value="n">No</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="subarriendoSelect">¿Permite el subarriendo?</label>
                        <select name="subarriendoSelect" class="form-select">
                            <option value="s" selected>Si</option>
                            <option value="n">No</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="contratoFechaFirma">Fecha en la que se firma el contrato</label>
                        <input class="form-control" type="date" name="contratoFechaFirma">
                    </div>
                </div>
                <!------------------ Fin datos restantes ------------------>
            </div>
        </div>
    </div>
</div>