<header id="site-header">
    <div class="container">
        <div class="loggin text-end">
            <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Iniciar Sesión</span>
            </div>
            <div class="dropdown-menu p-4 dropdown-menu-right">
                <form class="user-login-form" data-drupal-selector="user-login-form" action="https://abogadosbaluarte.com/user/login" method="post" id="user-login-form" accept-charset="UTF-8" data-drupal-form-fields="edit-name--2,edit-pass,edit-captcha-response--2,edit-submit--2">
                    <div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name form-no-label form-group">
                        <label for="edit-name--2" class="visually-hidden js-form-required form-required">Nombre deusuario</label>
                        <div class="form-element-wrapper">
                            <input autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus"
                                data-drupal-selector="edit-name" aria-describedby="edit-name--2--description"
                                placeholder="Nombre de usuario" type="text" id="edit-name--2" name="name" value=""
                                size="60" maxlength="60" class="form-text required form-control" required="required"
                                aria-required="true">

                            <div id="edit-name--2--description" class="description visually-hidden">
                                Escriba su nombre de usuario en Baluarte.
                            </div>
                        </div>
                    </div>
                    <div
                        class="js-form-item form-item js-form-type-password form-item-pass js-form-item-pass form-no-label form-group">
                        <label for="edit-pass" class="visually-hidden js-form-required form-required">Contraseña</label>
                        <div class="form-element-wrapper">
                            <input data-drupal-selector="edit-pass" aria-describedby="edit-pass--description"
                                placeholder="Contraseña" type="password" id="edit-pass" name="pass" size="60"
                                maxlength="128" class="form-text required form-control" required="required"
                                aria-required="true">

                            <div id="edit-pass--description" class="description visually-hidden">
                                Escriba la contraseña asignada a su nombre de usuario.
                            </div>
                        </div>
                    </div>
                    <input data-drupal-selector="form-4yktxhl-syyp-jexvbnvs2xf2qryvovbebx87-yonik" type="hidden"
                        name="form_build_id" value="form-4YKTxHL_syyp-JExvBnVS2Xf2QRyVoVbEBx87_yOnik">
                    <input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id"
                        value="user_login_form">
                    
                    <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                        id="edit-actions--3"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit--2"
                            name="op" value="Iniciar sesión" class="button js-form-submit form-submit btn btn-success">
                    </div>

                </form>
                <div class="mt-2">
                    <p class="text-muted mb-0">
                        ¿No tienes cuenta? <span><a href="https://abogadosbaluarte.com/user/register">Crea una aquí</a></span>
                    </p>
                </div>
            </div>
        </div>

        <div id="header-sitebranding" class="d-flex justify-content-center mb-4">
            <div class="region region-branding">
                <div id="block-platon-branding" class="block-system_branding_block">
                    <a href="https://abogadosbaluarte.com/" title="Inicio" rel="home">
                        <img src="https://abogadosbaluarte.com/sites/default/files/logo.png" alt="Inicio">
                    </a>
                </div>
            </div>
        </div>

        <div id="header-menu">
            <div class="region region-menu_principal">
                <div id="block-menuhamburguesa"
                    class="block-block_content block-block_content-fe1826a3-e51c-485a-8609-5ab9feda299c">
                    <div class="body">
                        <div id="toggle-menu" class="d-md-none">
                            <i class="fa fa-bars fa-2x">&nbsp;</i>
                        </div>
                    </div>
                </div>
                <nav aria-labelledby="block-menuprincipal-menu" id="block-menuprincipal"
                    class="block-system_menu_block block-system_menu_block-menu-principal">

                    <h2 class="visually-hidden" id="block-menuprincipal-menu">Menu principal</h2>
                    <ul class="nav menu-principal__menu">
                        <li class="nav-item menu-principal__menu__item"> <a href="/"
                                class="nav-link menu-principal__menu__link is-active"
                                data-drupal-link-system-path="<front>"><svg class="svg-inline--fa fa-times fa-w-11"
                                    aria-hidden="true" focusable="false" data-prefix="fa" data-icon="times" role="img"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                        d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z">
                                    </path>
                                </svg><!-- <i class="fa fa-times" aria-hidden="true"></i> --> <span
                                    class="link-text">Salir</span></a>
                        </li>
                        <li class="nav-item menu-principal__menu__item"> <a href="https://abogadosbaluarte.com/nosotros"
                                class="nav-link menu-principal__menu__link"
                                data-drupal-link-system-path="pages/18">Nosotros</a>
                        </li>
                        <li class="nav-item menu-principal__menu__item"> <a href="https://abogadosbaluarte.com/servicios"
                                class="nav-link menu-principal__menu__link"
                                data-drupal-link-system-path="pages/665">Servicios legales</a>
                        </li>
                        <li class="nav-item menu-principal__menu__item"> <a href="https://abogadosbaluarte.com/capacitaciones"
                                class="nav-link menu-principal__menu__link"
                                data-drupal-link-system-path="pages/15">Capacitaciones</a>
                        </li>
                        <li class="nav-item menu-principal__menu__item"> <a href="https://abogadosbaluarte.com/comunidad"
                                class="nav-link menu-principal__menu__link"
                                data-drupal-link-system-path="comunidad">Comunidad</a>
                        </li>
                        <li class="nav-item menu-principal__menu__item"> <a href="https://abogadosbaluarte.com/actualidad-legal"
                                class="nav-link menu-principal__menu__link"
                                data-drupal-link-system-path="pages/19">Actualidad legal</a>
                        </li>
                        <li class="nav-item menu-principal__menu__item"> <a href="https://abogadosbaluarte.com/clientes"
                                class="nav-link menu-principal__menu__link"
                                data-drupal-link-system-path="pages/666">Clientes</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="search-trigger d-flex align-items-center">
                <button type="button" id="search-trigger">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <div id="search-form" class="d-none">
                <form class="views-exposed-form" data-drupal-selector="views-exposed-form-search-content-page-1"
                    action="/search" method="get" id="views-exposed-form-search-content-page-1_opigon"
                    accept-charset="UTF-8" data-drupal-form-fields="edit-keys">
                    <div class="form--inline form-inline clearfix">
                        <div
                            class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label form-group">
                            <label for="edit-keys" class="visually-hidden">Search keys</label>
                            <div class="form-element-wrapper">
                                <input placeholder="Buscar..." data-drupal-selector="edit-keys" type="search"
                                    id="edit-keys" name="keys" value="" size="30" maxlength="128"
                                    class="form-search form-control">
                            </div>
                        </div>
                        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper"
                            id="edit-actions--2"><input data-drupal-selector="edit-submit-search-content" type="submit"
                                id="edit-submit-search-content" value="Submit search keys"
                                class="button js-form-submit form-submit btn btn-success" placeholder="Buscar...">
                        </div>
                    </div>
                </form>
                <div class="div" id="closeSearch">
                    <i class="fas fa-times"></i>
                </div>
            </div>
        </div>

    </div>
</header>