<!-- Bootstrap CSS -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">

<!-- Moments JS -->
<script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script src="https://use.fontawesome.com/releases/v5.13.1/js/all.js" defer="" crossorigin="anonymous"></script>